/target/
!.mvn/wrapper/maven-wrapper.jar
/mysql-connector-java-8.0.23

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBreans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr